#clients {
  background-color: #03b6e7;
  padding: 9.5rem 0 10.9rem;
  h1 {
    font-size: 3.2em;
    margin: 0 0 5.7rem;
    color: #ffffff;
  }
  span {
    font-size: 1.4rem;
    display: block;
    color: #a6ecff;
  }
  .clients-slider {
    .clients-carousel{
      width: 0;
      display: none;
    }
    .clients-slider-content {
      .clients-info{
        display: flex;
        p {
          font-size: 1.5rem;
          line-height: 2.8rem;
          color: #ddf8ff;
          margin-bottom: 5.8rem;
          span {
            display: block;
            margin-top: 3.5rem;
          }
        }
        &:before {
          content: url("../img/icon-opening-quotation.png");
          margin-right: 3rem;
        }
        &:after {
          content: url("../img/icon-closing-quotation.png");
          margin-left: 8rem;
        }
      }
    }
    ol {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
    }
    .clients-indicators {
      margin-top: 2.5rem;
      float: right;
      .fa {
        font-size: 1.5rem;
        color: #ffffff;
        &:hover {
          color: #16d428;
        }
      }

      /* :before {
        content: '\f192';
        color: #16d428;
      }*/
    }
    .clients-indicators-info {

      li {
        display: flex;
        align-items: center;
        img {
          margin-right: 3rem;
          &:hover {
            opacity: 1;
            background-color: #ffffff;
            border-radius: 50%;
          }
        }
        p {
          font-size: 1.5rem;
          color: #ddf8ff;
          margin-bottom: 0;
        }
        .client-name {
          font: 700 1.5rem 'Montserrat', sans-serif;
          color: #ffffff;
          text-transform: uppercase;
          margin-bottom: 1.2rem;
        }
      }
      .client-first {
        img {
          opacity: 0.5;
        }
      }
      /*.active {
        img {
          opacity: 1;
        }
      }*/
    }
  }
}