@media (min-width: 768px) and (max-width: 1200px) {
  #contact {
    padding: 3rem 0.5rem 1rem;
    h1 {
      margin: 0 1rem 2rem;
    }
    ul {
      padding-left: 0;
      margin-bottom: 0;
      .address-email {
        padding: 0 0.5rem;
      }
      .address-tel {
        padding: 0 0.7rem;
      }
      .address-career {
        padding-left: 0.2rem;
      }
      li {
        margin-right: 0;
        div {
          padding: 3rem 0 3rem 6.2rem;
          margin-bottom: 2rem;

          a {
            font-size: 1.6rem;
            span {
              font-size: 1.5rem;
            }
          }
        }
        .contact-email {
          &:before {
            right: 5.3rem;
          }
        }
        .contact-tel {
          &:before {
            right: 7rem;
          }
        }
        .contact-career {
          &:before {
            right: 7rem;
          }
        }
      }
    }
  }
}
