#header {
  .header-top {
    background-color: #262829;
    .header-address {
      ul {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;
        li {
          padding: 1.4rem 0;
          a {
            font-size: 1.2rem;
            text-decoration: none;
            color: #ffffff;
            text-transform: uppercase;
            .email {
              color: #727779;
              &:hover {
                color: #ffac55;
              }
            }
            .tel {
              color: #a2a5a6;
              &:hover {
                color: #ffac55;
              }
            }
          }
          .contact-email {
            margin-right: 2rem;
          }
          .contact-phone {
            border-left: 1px solid #fff;
            padding: 1.7rem 0 1.6rem 2rem;
          }
        }
      }
    }
  }
  .header {
    .header-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navbar-header {
        margin: 3rem 0;
        h1 {
          margin: 0;
        }
      }
      #navbar {
        padding: 0;
        .nav-plus {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          li {
            a {
              font-size: 1.4rem;
              color: #4e4e4e;
              padding: 0 0 0 3rem;
              &:hover {
                color: #ffac55;
                background: transparent;
              }
            }
          }
        }
      }
    }
  }
}